@page
@model MascotaFeliz.App.Frontedn.Pages.CrearVisitaModel
@{
    ViewData["Title"] = "Crear Visita";
}
<div class="container">

    <div class="card w-75 mx-auto my-5">
        <h5 class="card-header">Crear Visita</h5>
        <div class="card-body">
            <form method="post">
                <div class="form-row">

                    <input type="hidden" asp-for="visita.Id">

                    <div class="form-group col-12 col-sm-6">
                        <label asp-for="mascota.Nombre"></label>
                        <input asp-for="mascota.Nombre" class="form-control" disabled>
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label asp-for="visita.FechaVisita"></label>
                        <input asp-for="visita.FechaVisita" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label asp-for="visita.Temperatura"></label>
                        <input asp-for="visita.Temperatura" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label asp-for="visita.Peso"></label>
                        <input asp-for="visita.Peso" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label asp-for="visita.FrecuenciaRespiratoria"></label>
                        <input asp-for="visita.FrecuenciaRespiratoria" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label asp-for="visita.FrecuenciaCardiaca"></label>
                        <input asp-for="visita.FrecuenciaCardiaca" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label asp-for="visita.EstadoAnimo"></label>
                        <input asp-for="visita.EstadoAnimo" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="veterinario">Veterinario</label>
                        <select id="veterinario" asp-for="visita.IdVeterinario" name="veterinarioId" class="form-control">
                            <option value="0">Seleccione un Veterinario</option>
                            @foreach (var v in Model.listaVeterinarios)
                            {
                                <option value="@v.Id">@v.Nombres @v.Apellidos</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="visita.Recomendaciones"></label>
                        <textarea cols="30" rows="5" asp-for="visita.Recomendaciones" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-info w-100" asp-page="../Historias/HistoriaClinica" asp-route-historiaId="@Model.historia.Id" asp-route-mascotaId="@Model.mascota.Id">
                            <img src="~/images/arrow-go-back-fill.png" alt="Regresar">
                        </a>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success w-100">
                            <img src="~/images/save-line.png" alt="Guardar">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>